 <%-include('../includes/header.ejs')%>

      </head>

      <body>
            <!-- Navbar -->
            <%-include('../includes/navbar.ejs')%>

                  <!-- Form -->
                  <main>
                        <div class="container mt-5">
                              <div class="title">
                                    <h2 class="text-center text-dark"><b><u>Product Details</u></b></h2>
                              </div>
                              <div class="d-flex">
                                    <form action="/postData" method="POST" enctype="multipart/form-data">
                                          
                                          <label>
                                                <span>Product Name : <span class="text-danger">*</span></span>
                                                <input type="text" name="product_name" id="name">
                                          </label>
                                          <label>
                                                <span>Product Price : <span class="text-danger">*</span></span>
                                                <input type="number" name="product_price" id="date">
                                          </label>
                                          <label>
                                                <span>Product Company <span class="required">*</span></span>
                                                <input type="text" name="product_company" id="product_company">
                                          </label>
                                          <label>
                                                <span>Product Image <span class="required">*</span></span>
                                                <input type="file" name="product_image" id="product_image" multiple>
                                                <!-- <input type="file" name="product_image" id="product_image"> -->
                                          </label>
                                          <label for="">
                                                <button class="button" style="margin-left: 45%;" type="submit">Sign UP</button>
                                          </label>
                                    </form>
                              </div>
                        </div>
                  </main>

                  <!-- Footer -->
                  <%-include('../includes/footer.ejs')%>